################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MunicipalServicesApp/.vs/MunicipalServicesApp/CopilotIndices/17.12.31.40377/CodeChunks.db-wal
/MunicipalServicesApp/.vs/MunicipalServicesApp/copilot-chat/4e74ebf9/sessions/03bbda5c-a017-42a4-af39-f6eefab71dbb
/MunicipalServicesApp/.vs/MunicipalServicesApp/copilot-chat/4e74ebf9/sessions/20b6a83e-031f-4945-be35-b763ac49fe08
/MunicipalServicesApp/.vs/MunicipalServicesApp/copilot-chat/4e74ebf9/sessions/2ed35381-ed0e-4caa-89f6-d85dd5c7fd93
/MunicipalServicesApp/.vs/MunicipalServicesApp/copilot-chat/4e74ebf9/sessions/2ffdfd29-757f-4e1b-baea-477d8e43d9ad
/MunicipalServicesApp/.vs/MunicipalServicesApp/copilot-chat/4e74ebf9/sessions/33b09924-49e2-4b7c-9311-86c10cf6fd4d
/MunicipalServicesApp/.vs/MunicipalServicesApp/copilot-chat/4e74ebf9/sessions/4149c7ca-ed58-4c38-948d-7282c9e8c9a0
/MunicipalServicesApp/.vs/MunicipalServicesApp/copilot-chat/4e74ebf9/sessions/4bee1302-b3ff-4b1c-885e-e1cbd6d6f727
/MunicipalServicesApp/.vs/MunicipalServicesApp/copilot-chat/4e74ebf9/sessions/79f60e70-6881-43e0-b685-5fd9c720d4e6
/MunicipalServicesApp/.vs/MunicipalServicesApp/copilot-chat/4e74ebf9/sessions/8dba94f1-fa8e-4f06-87ff-83639ee42186
/MunicipalServicesApp/.vs/MunicipalServicesApp/copilot-chat/4e74ebf9/sessions/a2a10756-5607-4788-a39e-a8c23c0ce78b
/MunicipalServicesApp/.vs/MunicipalServicesApp/copilot-chat/4e74ebf9/sessions/aaa0cb4e-03fd-41c6-9d19-940ee76aa9fe
/MunicipalServicesApp/.vs/MunicipalServicesApp/copilot-chat/4e74ebf9/sessions/cfb1b8d3-a35f-4e7e-aee5-51974e092497
/MunicipalServicesApp/.vs/MunicipalServicesApp/copilot-chat/4e74ebf9/sessions/d797876e-69c7-4ff1-b66d-624481770b7c
/MunicipalServicesApp/.vs/MunicipalServicesApp/copilot-chat/4e74ebf9/sessions/e344889f-b9e6-4523-869b-deef5377ca0f
/MunicipalServicesApp/.vs/MunicipalServicesApp/copilot-chat/4e74ebf9/sessions/f018a6d2-3987-4ac1-ab49-7e6546c96893
/MunicipalServicesApp/.vs/MunicipalServicesApp/CopilotIndices/17.12.31.40377/CodeChunks.db
/MunicipalServicesApp/.vs/MunicipalServicesApp/CopilotIndices/17.12.31.40377/CodeChunks.db-shm
/MunicipalServicesApp/.vs/MunicipalServicesApp/CopilotIndices/17.12.31.40377/SemanticSymbols.db
/MunicipalServicesApp/.vs/MunicipalServicesApp/CopilotIndices/17.12.31.40377/SemanticSymbols.db-shm
/MunicipalServicesApp/.vs/MunicipalServicesApp/CopilotIndices/17.12.31.40377/SemanticSymbols.db-wal
/MunicipalServicesApp/.vs/MunicipalServicesApp/FileContentIndex/37c34da2-846a-4398-a8cb-48ca48166f1f.vsidx
/MunicipalServicesApp/.vs/MunicipalServicesApp/FileContentIndex/50037061-1152-4944-8cfc-c607b0482226.vsidx
/MunicipalServicesApp/.vs/MunicipalServicesApp/FileContentIndex/72b2f60a-b15a-4d6f-9fac-495b5ecb85d1.vsidx
/MunicipalServicesApp/.vs/MunicipalServicesApp/FileContentIndex/af061392-0e0f-4934-a970-6c201dfe95e0.vsidx
/MunicipalServicesApp/.vs/MunicipalServicesApp/FileContentIndex/c7d66e52-ad81-4ae9-9981-a308495f07bf.vsidx
/MunicipalServicesApp/.vs/MunicipalServicesApp/v17/.suo
/MunicipalServicesApp/.vs/MunicipalServicesApp/v17/DocumentLayout.backup.json
/MunicipalServicesApp/.vs/MunicipalServicesApp/v17/DocumentLayout.json
/MunicipalServicesApp/.vs/MunicipalServicesApp/v17/ResourceExplorer/settings.json
