<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Antlr3.Runtime" version="3.5.1" targetFramework="net48" />
  <package id="Graphviz4Net" version="3.0.2" targetFramework="net48" />
  <package id="MaterialSkin.2" version="2.3.1" targetFramework="net48" />
  <package id="QuickGraph" version="3.6.61119.7" targetFramework="net48" />
</packages>